nav {
  width: 100%;
  font-size: small;
  background-color: #FFFFFF;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 9999;
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0, .3);
  -moz-box-shadow: 0 1px 3px rgba(0,0,0, .3);
  box-shadow: 0 1px 3px rgba(0,0,0, .3);

  ul#nav {
    display: inline-block;
    margin: 0;
    padding: 2px;
    line-height: 100%;

    li {
      margin: 1px;
      padding: 1px;
      float: left;
      position: relative;
      list-style: none;
    }

    /* main level link */
    a,
    span.navitem {
      display: block;
      padding: 1px 4px;
      margin: 0;
      text-decoration: none;
      -webkit-border-radius: 1.6em;
      -moz-border-radius: 1.6em;
      text-shadow: 0 1px 1px rgba(0,0,0, .3);
      cursor: pointer;
      &:hover {
        background-color: WhiteSmoke;
        color: dimgray;
      }
    }

    /* main level link hover */
    .current a,
    li:hover > a,
    .current span.navitem,
    li:hover > span.navitem {
      background-color: WhiteSmoke;
      border-top: solid 1px #f8f8f8;
      -webkit-box-shadow: 0 1px 1px rgba(0,0,0, .2);
      -moz-box-shadow: 0 1px 1px rgba(0,0,0, .2);
      box-shadow: 0 1px 1px rgba(0,0,0, .2);
      text-shadow: 0 1px 0 rgba(255,255,255, 1);
    }

    /* sub levels link hover */
    ul li:hover a,
    li:hover li a,
    ul li:hover span.navitem,
    li:hover li span.navitem {
      background: none;
      border: none;
      color: dimgray;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
    }
    ul a:hover,
    ul span.navitem:hover {
      background-color: #ffffff;
      color: dimgray !important;
      text-shadow: 0 1px 1px rgba(0,0,0, .1);
    }

    /* dropdown */
    li:hover > ul {
      display: block;
    }

    /* level 2 list */
    ul {
      display: none;
      margin: 0;
      padding: 0;
      width: 185px;
      position: absolute;
      top: 1.3em;
      left: 0;
      //background: #ddd url(img/gradient.png) repeat-x 0 0;
      background-color: #ffffff;
      border: solid 1px dimgray;
      -webkit-box-shadow: 0 1px 3px rgba(0,0,0, .3);
      -moz-box-shadow: 0 1px 3px rgba(0,0,0, .3);
      box-shadow: 0 1px 3px rgba(0,0,0, .3);

      li {
        float: none;
        margin: 0;
        padding: 0;

        /* rounded corners of first and last link */
        &:first-child > a,
        &:last-child > a {
          -webkit-border-top-left-radius: 9px;
          -moz-border-radius-topleft: 9px;
          -webkit-border-top-right-radius: 9px;
          -moz-border-radius-topright: 9px;
        }
      }

      a,
      span.navitem {
        font-weight: normal;
        text-shadow: 0 1px 1px rgba(0,0,0, .3);
      }

      /* level 3+ list */
      ul {
        left: 181px;
        top: -3px;
      }
    }

    /* clearfix */
    &:after {
      content: ".";
      display: block;
      clear: both;
      visibility: hidden;
      line-height: 0;
      height: 0;
    }

    p {
      padding: 2px;
      font-size: small;
    }

    table {
      margin: 2px;
      th {
        font-weight: bold;
      }
      th, td {
        padding: 0 2px 0 2px;
        font-size: small;
      }
    }
  }

  dl.description {
    dt {
      font-weight: bold;
    }
    dd {
      table {
        border-spacing: 0;
        empty-cell: show;
        tr {
          th, td {
            padding: 1px;
            font-size: small;
            border: 1px solid lightgray;
            color: black;
          }
          th {
            text-align: center;
            background-color: lightsteelblue;
          }
          td {}
        }
      }
    }
  }
}
