h1 {
    font-size: 1.8em;
    font-weight: bold;
}

h1 a {
    color: #ffffff;
    text-decoration: none;
}

h1 a img {
    text-decoration: none;
    border: 0 none;
}

h2 {
    font-size: 1.4em;
    font-weight: bold;
}

h3 {
    font-size: 1.2em;
    font-weight: bold;
}
