/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require jquery.ui.all
 *= require_tree .
 */

@charset "utf-8";
@import "./default/reset.css";
@import "./default/style.css";
@import "./default/header.css";
@import "./default/body.css";
@import "./default/footer.css";
@import "./default/loading.css";

.ui-tooltip-content {
  padding: 2px;
  color: dimgray;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: x-small;
  font-weight: medium;
}