/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require jquery.ui.all
 *= require_tree .
 */

@charset "utf-8";

.ui-tooltip-content {
  padding: 2px;
  color: dimgray;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: x-small;
  font-weight: medium;
}

div#pagetop {
  padding: 2px 5px 2px 10px;
  width: auto;
  text-align: right;
  font-size: small;
  border-top: 1px solid gainsboro;
  border-left: 1px solid gainsboro;
  border-right: none;
  border-bottom: 1px solid gainsboro;
  background-color: WhiteSmoke;
  position: fixed;
  right: 0;
  bottom: 50px;
  z-index: 9999;
  cursor: pointer;
  -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.2);
  -moz-box-shadow: 0 0 5px rgba(0,0,0,0.2);
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
}

#about,
#api {
  display: none;
  padding: 5px;
  width: 100%;
  border: none;
  background-color: WhiteSmake;
}