// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

section {
  padding: 5px 0 5px 0;
  float: left;
  clear: both;
}

section#info dl {
  width: 150px;
  margin-right: 10px;
  font-size: small;
  float: left;
  clear: right;
}
section#info dl dt {
  line-height: 1.4em;
  font-weight: bold;
}
section#info dl dd {
  line-height: 1.2em;
}

Section#search p.description {
  font-size: x-small;
}

section#data table {
  border-spacing: 0;
  empty-cell: show;
}
section#data table tr:hover {
  background-color: mistyrose;
}
section#data table tr th,
section#data table tr td {
  padding: 5px;
  border: 1px solid lightgray;
  color: black;
}
section#data table tr th {
  text-align: center;
  background-color: lightsteelblue;
}
section#data table tr td img {
  float: left;
}

section#ref dl {
  font-size: small;
  float: left;
}
section#ref dl dt {
  padding-right: 5px;
  font-weight: bold;
  float: left
}
section#ref dl dd {
  padding-right: 5px;
  float: left
}

dl#type_select {
  padding: 2px 0 2px 0;
  width: 100%;
  font-size: small;
  float: left;
  clear: both;
}
dl#type_select dt {
  font-weight: bold;
  width: 9em;
  float: left;
}
dl#type_select dd {
  width: 200px;
  float: left;
}

div.ui-dialog-titlebar {
  font-size: small;
}

#country_dialog table,
#country_dialog table th,
#country_dialog table td {
  font-size: small;
}

#country_dialog table th,
#country_dialog table td {
  font-size: small;
  padding: 2px;
}

#country_dialog table th {
  font-weight: bold;
}

