// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

section {
  padding: 5px 0 5px 0;
  float: left;
  clear: both;
}

section#info {
  dl {
    width: 150px;
    margin-right: 10px;
    font-size: small;
    float: left;
    clear: right;
    dt {
      line-height: 1.4em;
      font-weight: bold;
    }
    dd {
      line-height: 1.2em;
    }
  }
}

Section#search {
  p.description {
    font-size: x-small;
  }
}

section#data {
  dl#keywordLinks {
    width: 100%;
    float: left;
    dt {
      padding-right: 5px;
      float: left
    }
    dd {
      margin-right: 5px;
      padding: 2px;
      font-size: small;
      line-height:1em;
      border: 1px solid gainsboro;
      background-color: WhiteSmoke;
      float: left;
      cursor: pointer;
    }
  }
  table {
    border-spacing: 0;
    empty-cell: show;
    tr:hover {
      background-color: mistyrose;
    }
    tr th,
    tr td {
      padding: 5px;
      border: 1px solid lightgray;
      color: black;
    }
    tr th {
      text-align: center;
      background-color: lightsteelblue;
    }
    tr td img {
      float: left;
    }
  }
}

section#ref {
  dl {
    font-size: small;
    float: left;
    dt {
      padding-right: 5px;
      font-weight: bold;
      float: left;
    }
    dd {
      padding-right: 5px;
      float: left;
    }
  }
}

dl#type_select {
  padding: 2px 0 2px 0;
  width: 100%;
  font-size: small;
  float: left;
  clear: both;
  dt {
    font-weight: bold;
    width: 9em;
    float: left;
  }
  dd {
    width: 200px;
    float: left;
  }
}

div.ui-dialog-titlebar {
  font-size: small;
}

#country_dialog {
  table,
  table th,
  table td {
    font-size: small;
  }
  table th,
  table td {
    padding: 2px;
  }
  table th {
    font-weight: bold;
  }
}

#ipt_command {
  width: 520px;
  height: 220px;
}
