<%= content_tag(:h2, 'About') %>
IPアドレスやカントリーコードからRegional Internet Registryへの登録状況を確認できます。<br />
IPアドレスはIPv4及びIPv6の両方に対応しています。また、ASNコードでの検索も可能です。<br />
カントリーコードはISO 3166-1 alpha-2にて検索可能です。<br />
複数のキーワードで検索する場合は、カンマでそれぞれのキーワードを区切ってください。
<ul>
  <li><a href="https://twitter.com/VitSymty" title="twitter" target="_blank">twitter</a></li>
  <li><a href="https://www.facebook.com/yusuke.aiko" title="Facebook" target="_blank">Facebook</a></li>
</ul>
